# link this file to the home directory as .editorconfig
#     ln -s $(pwd)/editorconfig ~/.editorconfig
#
# These are the mostly universally accepted settings for editorconfig:
#   trim_trailing_whitespace = true
#   insert_final_newline = true
#   max_line_length = 120
#   indent_style = space
#   indent_size = 4
#
# But they need to be set for all languages

[**]
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
indent_style = space
indent_size = 4

# tab_width defaults to indent_size
#[*.py]
#indent_style = space
#indent_size = 4

# 2 space indentation for lua
[*.lua]
indent_size = 2
