# link this file to the home directory as .editorconfig
#     ln -s $(pwd)/editorconfig ~/.editorconfig
# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# 4 space indentation
[*.lua]
indent_style = space
indent_size = 2
